# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# File Types known to be unecessary
*.swp
*.bin
*.checkpoint
*ShaderCache*
*PCTOC*
*.log
*.obj
*IphoneTOC*
*.dmp
*.u
 
# VS stuff
*.sdf
*.sln
*.suo

# UE4 stuff
/Binaries
/DerivedDataCache
/Intermediate
/Saved

# Misc
*.swp
